

.categorias{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 5px;
}

.categorias a{
    color:white;
    font-size: 2em;
    margin: 20px;
}

iframe{
    display: block;
}