

.Voltar{
    padding: 5px;
    margin: 10px;
    border: 3px solid lightskyblue;
    color: aliceblue;
}

.Sinopse{
    display: flex;
    justify-items: center;
}

.elenco{
    display: flex;
    padding: 10px;
    margin: 10px;
}


.elenco ul{
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.elenco li{
    padding: 5px;
}

iframe{
    margin: 10px;
}